<% if @user != nil %> <!-- if we have an ID parameter that refers to a real user -->
  <!-- if we have a valid date parameter with a list of posts to render -->
  <% if @renderPosts %> 
    <% if @posts.length > 0 %>
      <% if @posts.all? { |p| p.completed } %> <!-- if there are no incomplete posts -->
        <h1>Thank You!</h1>
        You have filled out out all the required questionnaires for today! Please return to your <%= link_to 'Home Page', home_path << "?id=" << @user.link %> and fill out any remaining questionnaires for other days.<br/><br/>
      <% else %> <!-- if there are still some incomplete posts -->
        <h1>Welcome!</h1>
        <p class="instructions">Please give us some additional information about each of the pieces of content you thought about sharing but decided not to post today.</p>
          <hr/>
          <table>
        <% @posts.each do |post| %>
          <% if !post.completed %>
          <tr>
            <td><%= link_to post.edit_link_text, posts_path << "?id=" << @user.link << ";postid=" << post.id.to_s << ";type=" << post.kind << ";uc=u" %></td>
            <td>
            <%= 'Date: ' << post.sms_date.in_time_zone("Eastern Time (US & Canada)").strftime("%I:%M%p %a, %b %d") %> <br/>
            <% if post.sms_body == '[Blank]' %>
              <i><%= 'You did not submit a text message' %></i> </br>
            <% else %>
              <%= 'The message you sent: ' << post.sms_body %> <br/>
            <% end %>
            <%=  post.completed_text %>
            <td/>
          </tr>
          <% end %>
        
        <% end %>
        <table><hr/>
        Forgot to text something in? No worries! Just <%= link_to 'Click Here', posts_path << "?id=" << @user.link << ";date=" << params[:date] << ";type=p;uc=c" %> to create a new entry.<br/>
        <%= link_to '<< Home', home_path << "?id=" << @user.link %>
      <% end %>
    <!-- if we have a valid date parameter but no posts to render -->
    <% else %>
      Didn't hold back on Facebook today? <%= link_to 'Tell Us About It', posts_path << "?id=" << @user.link << ";date=" << params[:date] << ";type=np;uc=c" %>!<br/>
      Didn't post anything on Facebook today? <%= link_to 'Tell Us Why', posts_path << "?id=" << @user.link << ";date=" << params[:date] << ";type=nn;uc=c" %><br/>
    <% end %>
  <% else %>
    <h1>Welcome!</h1>
    <p class="instructions">Select one of the dates below to complete the survey for that day!</p> <br/>
    <table class="survey_list" border="1">
      <tr>
        <td>Date</td>
        <td>Completed?</td>
      </tr>
      <% @keyset = @dateLinks.keys.sort! {|a,b| a <=> b } %>
      <% @keyset.each do |key| %>
        <tr> <td> <%= link_to key, home_path << "?id=" << @user.link << ";date=" << key %></td><td><%= (@dateLinks[key] ? 'Complete' : 'Incomplete') %></td></tr>
      <% end %>
    </table>
  <% end %>
<% end %>
