<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </p>


  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :doneparticipating %><br />
    <%= f.datetime_select :doneparticipating %>
  </p>



  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= link_to 'User Posts', home_path << "?id=" <<@user.link %>
