<% form_for @post  do |f| %>
	<%= f.error_messages %>
  
  <div class="span-4">
    <%= f.label :sms_date %>
	</div>
  <div class="span-14 last">
    <%= @post.sms_date %>
    <%= f.hidden_field :sms_date %>
	</div>
	<hr class="space" />
	
	<div class="span-4">
		<%= f.label 'Description' %>
	</div>
  <div class="span-14 last">
    <%= @post.long_description %>
		<%= f.hidden_field :long_description%>
	</div>
	<hr class="space" />

	<div class="span-4">
		<%= f.label :np1, 'What type of post was it? (e.g. direct message, wall post, picture)' %>
	</div>
  <div class="span-6 append-8 last">
    <%= @post.np1 %>
    <%= f.hidden_field :np1 %>
	</div>
	<hr class="space" />
	
	<div class="span-4">
		<%= f.label :np2, 'Who was the intended audience for the post?' %>
	</div>
  <div class="span-6 append-8 last">
    <%= @post.np2 %>
    <%= f.hidden_field :np2 %>
	</div>
	<hr class="space" />

	<div class="span-4">
		<%= f.label :np3, 'Why did you post it?' %>
	</div>
  <div class="span-6 append-8 last">
    <%= @post.np3 %>
    <%= f.hidden_field :np3 %>
	</div>
  <hr class="space" />
<% end %>
