<% form_for @post do |f| %>
	<%= f.error_messages %>

	<div class="span-4">
    <%= f.label :sms_date, 'Date', {:class => 'lbl'} %>
	</div>
	<div class="span-14 last">
    <p class="user_content"><%=@post.sms_date.in_time_zone("Eastern Time (US & Canada)").strftime("%I:%M%p %a, %b %d")%></p>
    <%= f.hidden_field :sms_date %>
	</div>
	<hr class="space" />
	
	<div class="span-4">
		<%= f.label :sms_body, 'The text message you sent:', {:class => 'lbl'} %>
	</div>
	<div class="span-14 last">
    <p class="user_content"><%= @post.sms_body %></p>
		<%= f.hidden_field :sms_body, {:class => "user_content"} %>
	</div>
	<hr class="space" />
	
	<div class="span-4">
		<%= f.label :long_description, 'Please describe this scenario in more detail:', {:class => 'lbl'} %>
	</div>
  <div class="span-6 append-8 last">
    <p class="user_content"><%= @post.long_description %></p>
    <%= f.hidden_field :long_description , {:class => "user_content"} %>
	</div>
	<hr class="space" />
	
	<div class="span-4">
		<%= f.label :p1, 'Why did you decide not to post this to Facebook?', {:class => 'lbl'} %>
	</div>
  <div class="span-6 append-8 last">
    <p class="user_content"><%= @post.p1 %></p>
    <%= f.hidden_field :p1 %>
	</div>
	<hr class="space" />
	
	<div class="span-4">
		<%= f.label :p2, "Were there any people you especially didn't want to see this post?", {:class => 'lbl'} %>
	</div>
  <div class="span-6 append-8 last">
    <p class="user_content"><%= @post.p2 %></p>
    <%= f.hidden_field :p2 %>
	</div>
	<hr class="space" />

	<div class="span-4">
		<%= f.label :p3, 'Were there any people you especially wanted to see this post?', {:class => 'lbl'} %>
	</div>
  <div class="span-6 append-8 last">
    <p class="user_content"><%= @post.p3 %></p>
    <%= f.hidden_field :p3 %>
	</div>
  <hr class="space" />

	<div class="span-4">
		<%= f.label :p4, 'Where were you when you decided not to post this to Facebook?', {:class => 'lbl'} %>
	</div>
	<div class="span-6 append-8 last">
    <p class="user_content"><%= @post.p4 %></p>
    <%= f.hidden_field :p4 %>
	</div>
  <hr class="space" />

	<div class="span-4">
		<%= f.label :p5, 'What were you doing when you decided not to post this to Facebook?', {:class => 'lbl'} %>
	</div>
	<div class="span-6 append-8 last">
    <p class="user_content"><%= @post.p5 %></p>
    <%= f.hidden_field :p5 %>
	</div>
  <hr class="space" />
<% end %>
