<% form_for @post  do |f| %>
	<%= f.error_messages %>
  
  <div class="span-4">
    <%= f.label :sms_date, 'Date', {:class => 'lbl'} %>
	</div>
  <div class="span-14 last">
    <p class="user_content"><%= @post.sms_date %></p>
    <%= f.hidden_field :sms_date %>
	</div>
	<hr class="space" />
	
	<div class="span-4">
		<%= f.label :long_description, 'Description', {:class => 'lbl'} %>
	</div>
  <div class="span-14 last">
    <p class="user_content"><%= @post.long_description %></p>
		<%= f.hidden_field :long_description%>
	</div>
	<hr class="space" />

	<div class="span-4">
		<%= f.label :np1, 'What type of post was it? (e.g. direct message, wall post, picture)', {:class => 'lbl'} %>
	</div>
  <div class="span-6 append-8 last">
    <p class="user_content"><%= @post.np1 %></p>
    <%= f.hidden_field :np1 %>
	</div>
	<hr class="space" />
	
	<div class="span-4">
		<%= f.label :np2, 'Who was the intended audience for the post?', {:class => 'lbl'} %>
	</div>
  <div class="span-6 append-8 last">
    <p class="user_content"><%= @post.np2 %></p>
    <%= f.hidden_field :np2 %>
	</div>
	<hr class="space" />

	<div class="span-4">
		<%= f.label :np3, 'Why did you post it?', {:class => 'lbl'} %>
	</div>
  <div class="span-6 append-8 last">
    <p class="user_content"><%= @post.np3 %></p>
    <%= f.hidden_field :np3 %>
	</div>
  <hr class="space" />
<% end %>
