<% form_for @post, :url => @link do |f| %>
	<%= f.error_messages %>
  
  <div class="span-4">
    <%= f.label :sms_date, 'Date', {:class => 'lbl'} %>
	</div>
  <div class="span-14 last">
    <p class="user_content"><%= @post.sms_date %></p>
    <%= f.hidden_field :sms_date %>
	</div>
	<hr class="space" />
	
	<div class="span-4">
		<%= f.label :long_description, 'Description' , {:class => 'lbl'} %>
	</div>
  <div class="span-14 last">
    <p class="user_content"><%= @post.long_description %></p>
		<%= f.hidden_field :long_description %>
	</div>
	<hr class="space" />

	<div class="span-4">
		<%= f.label :nn1, 'Why didn\'t you post anything to Facebook today?', {:class => 'lbl'} %>
	</div>
  <div class="span-6 append-8 last">
    <p class="user_content"><%= @post.nn1 %></p>
    <%= f.hidden_field :nn1 %>
	</div>
	<hr class="space" />
	
	<div class="span-4">
		<%= f.label :nn2, 'Why didn\'t you think about posting anything to Facebook today?', {:class => 'lbl'} %>
	</div>
  <div class="span-6 append-8 last">
    <p class="user_content"><%= @post.nn2 %></p>
    <%= f.hidden_field :nn2 %>
	</div>
	<hr class="space" />
<% end %>
