<% if @user == nil %>
  <h1>Invalid User ID Parameter</h1>
<% else %>
  <h1><%= @user.phone_number + ' admin page' %></h1>
  <b>Legend:</b><br/>
  <ul>
    <li>"P" : post that was not posted to Facebook, but participant thought about posting</li>
    <li>"NP" : Participant posted to Facebook, but did not hold back</li>
    <li>"NN" : participant did not post anything to Facebook</li>
  </ul>
  <br/>
  <b>Filter by:</b> 
  <%= (link_to 'P(' + @user.posts.select{|post| post.kind == 'p'}.length.to_s + ')', admin_path + "/allPosts?id=" + @user.link + ";filter=p") unless params[:filter] == 'p' %> 
  <%= (link_to 'NP(' + @user.posts.select{|post| post.kind == 'np'}.length.to_s + ')', admin_path + "/allPosts?id=" + @user.link + ";filter=np") unless params[:filter] == 'np' %>
  <%= (link_to 'NN(' + @user.posts.select{|post| post.kind == 'nn'}.length.to_s + ')', admin_path + "/allPosts?id=" + @user.link + ";filter=nn") unless params[:filter] == 'nn' %>  
  <%= (link_to 'All(' + @user.posts.length.to_s + ')', admin_path + "/allPosts?id=" + @user.link) unless params[:filter] == nil %>
  <br/>
  <% hkeys = @postsByDate.keys.sort! { |a,b| a <=> b } %>
  <% hkeys.each do |k| %>
    <center><b><%= k %></b></center><br/>
    <% renderPosts = (params[:filter] == nil ? @postsByDate[k] : @postsByDate[k].select { |post| post.kind == params[:filter] }) %>
    <% renderPosts.each do |p| %>
      <h2>Type of Post: <%= p.kind.upcase %></h2>
      <% @post = p; @userid = params[:id] %>
        <% if @post.kind == 'p' %>
          <%= render :partial => "admin/form" %>
        <% elsif @post.kind == 'np' %>
          <%= render :partial => "admin/form_np" %>
        <% else %>
          <%= render :partial => "admin/form_nn" %>
        <% end %>
    <% end %>
  <% end %>
<% end %>
<br/>
<br/>
<%= link_to 'Back', admin_path %>
